[build]
  command = "npm run build"
  publish = "build"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "ALLOWALL"
    Access-Control-Allow-Origin = "*"

[[headers]]
  for = "/animations/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Cross-Origin-Resource-Policy = "cross-origin"
    Cache-Control = "public, max-age=31536000, immutable"
